@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ProjectItemPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Services;
@inject IUserService UserService;
@using Umbraco.Cms.Core.Models;

@{
    Layout = "_LayoutWithBreadcrumb.cshtml";
    var userService = UserService;
    var imageUrl = Model.Value<MediaWithCrops>("projectImage");
}

<!-- blog -->
<section class="container blog-container">
    <!-- article -->
    <div class="full-article">
        <h2 class="title-xl">@Model.Name</h2>
        <div class="full-article-details">
            <p class="text-s full-article-details-p">@Model.CreateDate.ToString("MMM dd, yyyy")</p>
            <p class="text-s full-article-details-p">Project</p>
            <p class="text-s full-article-details-p">@Model.CreatorName(userService)</p>
        </div>

        <div class="full-article-img-container">
            <img class="full-article-img" src="@imageUrl.MediaUrl()" alt="" width="900px">
        </div>

        <p class="full-article-text">
            @Model.Value("projectContent")
        </p>

        <div class="d-flex justify-content-between">
            @foreach (var tag in Model.Value<IEnumerable<string>>("projectTags"))
            {
                <p class="full-article-tag">@tag</p>
            }
        </div>

    </div>
    @await Html.PartialAsync("_ArticleNavigation")

</section>

<!-- articles & news -->
<div class="bg-beige">
    @await Html.PartialAsync("_ArticleCarousel")
</div>